/*////////////////////
        Fonts
////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&display=swap');

/*////////////////////
    Layout Styles
////////////////////*/
* {
	box-sizing: border-box;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	background-color: #dbe5f2;
	font-family: 'Outfit', sans-serif;
}

.container {
	align-items:center;
	display: flex;
	flex-direction: column;
	justify-content:center;
	min-height: 100vh;
	min-width: 100%;
	position: relative;
}


/*////////////////////
     Card Styles
////////////////////*/
.card-container {
	background-color: #fff;
	width: 90%;
	max-width: 350px;
	padding: 1em;
	border-radius: 15px;
}

.card-img {
	width: 100%;
	max-width: 350px;
	border: 1px solid hsl(218, 44%, 22%);
	border-radius: 10px;
}

.card-title, .card-text {
	margin-bottom: 0.75em;
	padding: 0.5em;
	text-align: center;
}

.card-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.card-text {
	font-size: 1.1rem;
}


/*////////////////////
    Footer Styles
////////////////////*/
.attribution {
	font-size: 1rem;
	position: absolute;
	text-align: center;
	bottom: 10px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
